---
import BaseLayout from './BaseLayout.astro';
import SiteHeader from '../components/global/SiteHeader.astro';
import SiteFooter from '../components/global/SiteFooter.astro';

export interface Props {
  title: string;
  description?: string;
  image?: string;
  headerVariant?: 'transparent' | 'opaque';
}
const { title, description, image, headerVariant = 'opaque' } = Astro.props as Props;
---
<BaseLayout title={title} description={description} image={image}>
  <SiteHeader variant={headerVariant} />
  <main id="main">
    <slot />
  </main>
  <SiteFooter />
</BaseLayout>
